@font-face {
    font-family: 'suisseintl';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../assets/fonts/suisseintl-medium.woff') format('woff'),
         url('../assets/fonts/suisseintl-medium.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'suisseintl';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/suisseintl-regular.woff') format('woff'),
         url('../assets/fonts/suisseintl-regular.woff2') format('woff2');
  };
  